---
import Layout from "../../layouts/Layout.astro";
import Papelera from "../../icons/Papelera.astro";
import Pencil from "../../icons/Pencil.astro";
---

<Layout title="Welcome to Profile">
    <main class="flex flex-col justify-center items-center h-[900px]">
        <div class="flex justify-center gap-5 mr-40">
            <div class="flex gap-5">
                <div class="flex flex-col gap-3" id="thumbnails">
                    <img
                        src="/img/globals/img-profile.webp"
                        alt="image to profile"
                        class="w-40 h-20 cursor-pointer hover:border-[#7F56D9] hover:border"
                        decoding="async"
                        loading="lazy"
                    />
                    <img
                        src="/img/globals/img-profile2.webp"
                        alt="image to profile"
                        class="w-40 h-20 cursor-pointer hover:border-[#7F56D9] hover:border"
                        decoding="async"
                        loading="lazy"
                    />
                    <img
                        src="/img/globals/img-profile.webp"
                        alt="image to profile"
                        class="w-40 h-20 cursor-pointer hover:border-[#7F56D9] hover:border"
                        decoding="async"
                        loading="lazy"
                    />
                </div>
                <div
                    class="w-[550px] h-[450px] border-[#7F56D9] border rounded-lg flex justify-center items-center p-5"
                >
                    <div id="image-container">
                        <img
                            id="selectedImage"
                            src='/img/globals/img-profile2.webp"'
                            alt="image to profile"
                            class="w-full h-auto"
                            decoding="async"
                            loading="lazy"
                        />
                    </div>
                </div>
            </div>
            <div>
                <Papelera />
                <Pencil />
            </div>
        </div>

        <div
            class="mt-5 border-b-[#7F56D9] border-b flex mr-96 items-center mb-14"
        >
            <h3 class="text-[#667085]">Product Designer</h3>
            <Pencil />
        </div>
        <div class="flex justify-center items-start">
            <p class="w-[500px] text-[#667085]">
                At [Name of your Platform], we bring together recruiters and
                programmers. Find qualified developers or collaborators for your
                projects easily and quickly. Our platform allows you to access a
                wide network of talented and motivated professionals, ready to
                take your ideas to the next level. We simplify the search and
                connection process, ensuring you find the perfect talent for
                every technological challenge.
            </p>
            <Pencil />
        </div>
    </main>
</Layout>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const thumbnails = document.querySelectorAll("#thumbnails img");
        const selectedImage =
            document.querySelector<HTMLImageElement>("#selectedImage");

        thumbnails.forEach((thumbnail) => {
            thumbnail.addEventListener("click", (e) => {
                const clickedImage = e.target as HTMLImageElement;
                if (selectedImage) {
                    selectedImage.src = clickedImage.src;
                }
            });
        });
    });
</script>
