---
import { Image } from "astro:assets";
import UserCircleCard from "../components/UserCircleCard.astro";
import bgAbout from "../assets/img/estandar/img-hero-max.webp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to About">
    <main
        class="flex flex-col justify-center z-10 items-center h-[60rem]"
    >
        <Image
            src={bgAbout}
            alt="image the bsolute"
            class="absolute -z-10 opacity-50"
        />

        <div class="text-center space-y-4">
            <p class="text-[#80ED99]">We re hiring!</p>
            <h2 class="font-semibold text-4xl">About Us</h2>
            <p class="text-[#667085]">
                Welcome to DevMatch, where we connect talented developers with
                innovative recruiters.
            </p>
        </div>
        <div class="flex justify-center items-center mt-36">
            <UserCircleCard />
        </div>
    </main>
</Layout>
