---
import Layout from "../layouts/Layout.astro";
import ProjectsCard from "../components/ProjectsCard.astro";
import { Image } from "astro:assets";
import bgImage from "../assets/img/estandar/img-hero-max.webp";
---

<Layout title="Welcome to Projects">
    <main class="flex flex-col justify-center items-center h-[900px]">
        <Image
            src={bgImage}
            alt="image the bsolute"
            class="absolute -z-10 opacity-50 pt-20"
        />
        <div class="text-center space-y-4">
            <p class="text-[#80ED99] -mt-32">Projects</p>
            <h2 class="font-semibold text-4xl text-[#001D3D]">
                Featured projects
            </h2>
            <p class="text-[#667085]">
                Here you will see the projects in weekly trends.
            </p>
        </div>
        <div class="grid grid-cols-3 justify-center items-center gap-5 pt-20">
            <ProjectsCard />
            <ProjectsCard />
            <ProjectsCard />
        </div>
    </main>
</Layout>
