---
import LayoutSession from "../layouts/LayoutSession.astro";
import { Image } from "astro:assets";
import imgsession from "../assets/img/estandar/img-sesion.webp";
import X from "../icons/Cruz.astro";
---

<LayoutSession title="Sign up | CONEX">
    <header>
        <nav class="flex justify-end items-center p-5">
            <a href="/">
                <X />
            </a>
        </nav>
    </header>
    <main class="flex justify-center items-center gap-20">
        <div>
            <Image src={imgsession} alt="image to session" />
        </div>
        <div>
            <h2 class="text-5xl font-semibold text-[#7F56D9] mb-10">
                Welcome back 👋
            </h2>
            <p class="text-lg text-[#667085] mb-20 w-[400px]">
                Clarity gives you the blocks and components you need to create a
                truly professional website.
            </p>

            <form action="" class="flex flex-col mt-5 text-[#667085]">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="border mb-5 w-[400px] rounded-xl h-12 p-2"
                    placeholder="enter your name"
                />

                <label for="surname">Surname</label>
                <input
                    type="text"
                    class="border mb-5 w-[400px] rounded-xl h-12 p-2"
                    placeholder="enter your surname"
                />

                <label for="Email">Email</label>
                <input
                    type="email"
                    placeholder="example@example.com"
                    class="border mb-5 w-[400px] rounded-xl h-12 p-2"
                />

                <label for="Password">Password</label>
                <input
                    type="password"
                    class="border mb-5 w-[400px] rounded-xl h-12 p-2"
                />
                <div class="flex gap-2">
                    <input type="checkbox" />
                    <p>Remember me</p>
                </div>
                <button
                    type="submit"
                    class="bg-blue-600 text-white w-28 h-12 rounded-xl mt-5"
                    >Login</button
                >
            </form>
            <p class="text-[#667085] mt-5">
                Do you already have an account?
                <a href="/Login" class="text-[#7F56D9]">Log in</a>
            </p>
        </div>
    </main>
</LayoutSession>
