---
import Instagram from "../icons/Instagram.astro";
import Twitter from "../icons/Twitter.astro";
---

<footer class="bg-[#001D3D] text-white flex flex-col justify-center ">
    <div>
        <div class="flex justify-around items-center h-[100px]">
            <p class="text-2xl font-semibold text-[#7F56D9]">CONEX</p>  
            <div class="flex gap-5">
                <Instagram />
                <Twitter />
            </div>
        </div>
        <div class="border-t w-[70rem] flex justify-center items-center m-auto">
        </div>
        <div class="flex justify-center items-center h-[80px]">
            <p class="p-5">&copy;Copyright 2024, All Rights Reserved by Agvs</p>
        </div>
    </div>
</footer>
