---
import Papelera from "../icons/Papelera.astro";
import Pencil from "../icons/Pencil.astro";
---

<div class="flex gap-x-16 justify-center items-center">
    <div>
        <img
            src="/img/globals/img-profile.webp"
            alt="image to projects"
            class="rounded-full w-14 h-14"
        />
    </div>
    <div>
        <h3>Olivia Rhya</h3>
    </div>
    <div>
        <p>Product Designer</p>
    </div>
    <div>
        <p>https:localhost</p>
    </div>
    <div class="flex gap-x-5 items-center text-center">
        <p class="border rounded-xl w-20 h-7">tag 1</p>
        <p class="border rounded-xl w-20 h-7">tag 2</p>
        <p class="border rounded-xl w-20 h-7">tag 3</p>
    </div>
    <div class="flex gap-x-3">
        <Papelera />
        <Pencil />
    </div>
</div>
