---

---

<div class="grid grid-cols-4 gap-x-20 gap-y-20 max-sm:grid-cols-2 max-sm:gap-x-0 max-sm:gap-y-10">
    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar.webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Olivia Rhye</p>
        <p class="text-[#7F56D9]">Founder & CEO</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(1).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Phoenix Baker</p>
        <p class="text-[#7F56D9]">Engineering Manager</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(2).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Lana Steiner</p>
        <p class="text-[#7F56D9]">Product Manager</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(3).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Demi Wilkinson</p>
        <p class="text-[#7F56D9]">Frontend Developer</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(4).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Candice Wu</p>
        <p class="text-[#7F56D9]">Backend Developer</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(5).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Natali Craig</p>
        <p class="text-[#7F56D9]">Product Designer</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(6).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Drew Cano</p>
        <p class="text-[#7F56D9]">UX Researcher</p>
    </div>

    <div class="flex flex-col text-center items-center">
        <img
            src="/img/avatars/Avatar(7).webp"
            alt="image to avatar"
            decoding="async"
            loading="lazy"
        />
        <p class="text-lg font-medium">Orlando Diggs</p>
        <p class="text-[#7F56D9]">Customer Success</p>
    </div>
</div>
